In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row

AppName = 'SparkSQL'
MasterNode = 'local'
#spark = SparkSession.builder.master(MasterNode).appName(AppName)\
#          .config("spark.some.config.option", "some-value").getOrCreate()
    

conf = pyspark.SparkConf().setAppName('playing_Spark_SQL').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)
sqc = SQLContext(spark)

print('- App Session :', spark, '\n')
print('- App Context :', sqc, '\n')

- App Session : <pyspark.sql.session.SparkSession object at 0x0000023EA9660438>

- App Context : <pyspark.sql.context.SQLContext object at 0x0000023EAADB8828>

In [3]:
carsRDDsqc = sqc.read.csv("cars.csv")

In [4]:
carRDDsc = sc.textFile("cars.csv")

In [5]:
carsRDDsqc.take(3)[0]

Row(_c0='MAKE', _c1='FUELTYPE', _c2='ASPIRE', _c3='DOORS', _c4='BODY', _c5='DRIVE', _c6='CYLINDERS', _c7='HP', _c8='RPM', _c9='MPG-CITY', _c10='MPG-HWY', _c11='PRICE')

In [6]:
carRDDsc.take(3)[0]

'MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE'

In [7]:
headersc = carRDDsc.first()
carRDDsc2 = carRDDsc.filter(lambda x : x != headersc )

In [8]:
carRDDsc2.count()

197

In [15]:
carRDDsc3 = carRDDsc2.map(lambda x : x.split(","))

dataframeSC = carRDDsc3.toDF(headersc.split(","))

In [12]:
carRDDsc2.take(3)

['subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118',
 'chevrolet,gas,std,two,hatchback,fwd,three,48,5100,47,53,5151',
 'mazda,gas,std,two,hatchback,fwd,four,68,5000,30,31,5195']

In [14]:
carRDDsc3.take(2)

[['subaru',
  'gas',
  'std',
  'two',
  'hatchback',
  'fwd',
  'four',
  '69',
  '4900',
  '31',
  '36',
  '5118'],
 ['chevrolet',
  'gas',
  'std',
  'two',
  'hatchback',
  'fwd',
  'three',
  '48',
  '5100',
  '47',
  '53',
  '5151']]

In [16]:
dataframeSC.show()

+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|    subaru|     gas|   std|  two|hatchback|  fwd|     four| 69|4900|      31|     36| 5118|
| chevrolet|     gas|   std|  two|hatchback|  fwd|    three| 48|5100|      47|     53| 5151|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      30|     31| 5195|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      35|     39| 5348|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5389|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 60|5500|      38|     42| 5399|
|    nissan|     gas|   std|  two|    sedan|  fwd|     four| 69|5200|      31|     37| 5499|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5572|
|  plymouth|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5572|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      31|     38| 6095|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      31|     38| 6189|
|     dodge|     gas|   std| four|hatchback|  fwd|     four| 68|5500|      31|     38| 6229|
|  plymouth|     gas|   std| four|hatchback|  fwd|     four| 68|5500|      31|     38| 6229|
| chevrolet|     gas|   std|  two|hatchback|  fwd|     four| 70|5400|      38|     43| 6295|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      31|     38| 6338|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      31|     38| 6377|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 58|4800|      49|     54| 6479|
|    toyota|     gas|   std| four|hatchback|  fwd|     four| 62|4800|      31|     38| 6488|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 76|6000|      30|     34| 6529|
| chevrolet|     gas|   std| four|    sedan|  fwd|     four| 70|5400|      38|     43| 6575|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
only showing top 20 rows

In [19]:
dataframeSC.select("*").show(5)

+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|    subaru|     gas|   std|  two|hatchback|  fwd|     four| 69|4900|      31|     36| 5118|
| chevrolet|     gas|   std|  two|hatchback|  fwd|    three| 48|5100|      47|     53| 5151|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      30|     31| 5195|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      35|     39| 5348|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5389|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
only showing top 5 rows

In [20]:
dataframeSC.orderBy("MAKE").show(5)

+-----------+--------+------+-----+-----------+-----+---------+---+----+--------+-------+-----+
|       MAKE|FUELTYPE|ASPIRE|DOORS|       BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+-----------+--------+------+-----+-----------+-----+---------+---+----+--------+-------+-----+
|alfa-romero|     gas|   std|  two|  hatchback|  rwd|      six|154|5000|      19|     26|16500|
|alfa-romero|     gas|   std|  two|convertible|  rwd|     four|111|5000|      21|     27|13495|
|alfa-romero|     gas|   std|  two|convertible|  rwd|     four|111|5000|      21|     27|16500|
|       audi|     gas|   std| four|      sedan|  fwd|     four|102|5500|      24|     30|13950|
|       audi|     gas|   std|  two|      sedan|  fwd|     five|110|5500|      19|     25|15250|
+-----------+--------+------+-----+-----------+-----+---------+---+----+--------+-------+-----+
only showing top 5 rows

In [22]:
spark.catalog

In [23]:
spark.catalog.listTables()

[]

In [26]:
dataframeSC.createOrReplaceTempView("car_data")

In [27]:
spark.catalog.listTables()

[Table(name='car_data', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [29]:
query = "select * from car_data limit 5"
spark.sql(query).show()

+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|    subaru|     gas|   std|  two|hatchback|  fwd|     four| 69|4900|      31|     36| 5118|
| chevrolet|     gas|   std|  two|hatchback|  fwd|    three| 48|5100|      47|     53| 5151|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      30|     31| 5195|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      35|     39| 5348|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5389|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+

In [31]:
file = "cars.csv"
rowRDD5 = spark.read.csv(file, header=True)
rowRDD5.show(10)

+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|    subaru|     gas|   std|  two|hatchback|  fwd|     four| 69|4900|      31|     36| 5118|
| chevrolet|     gas|   std|  two|hatchback|  fwd|    three| 48|5100|      47|     53| 5151|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      30|     31| 5195|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      35|     39| 5348|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5389|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 60|5500|      38|     42| 5399|
|    nissan|     gas|   std|  two|    sedan|  fwd|     four| 69|5200|      31|     37| 5499|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5572|
|  plymouth|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5572|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      31|     38| 6095|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
only showing top 10 rows

In [34]:
rowRDD6 = spark.read.json("employers.json")
rowRDD6.show(10)

+------+-----+----------------+-------+----+
|deptid|idade|            nome|salario|sexo|
+------+-----+----------------+-------+----+
|  1000|   42|   Josias Rebelo|   7000|   m|
|  2000|   50|Mauricio Gonheim|   9500|   m|
|  1000|   36| Bruno Velasquez|   6700|   m|
|  1000|   41|  Ananda Tavares|   9300|   f|
|  2000|   34|     Carlos Maia|   5500|   m|
+------+-----+----------------+-------+----+